:root {
    --onyx: rgb(32, 32, 32);
    --onyx-a0: rgba(32, 32, 32, 0);
    --bone: rgb(255, 255, 255);
    --purple: rgb(100, 41, 204);
    --indigo: rgb(94, 40, 185);
    --gray: rgb(128, 128, 128);
}

.--light {
    --onyx: rgb(255, 255, 255);
    --onyx-a0: rgba(255, 255, 255, 0);
    --bone: rgb(32 32 32);
}
.--hide {
    opacity: 0;
}

#txt-you-here {
    transition: opacity 0.3s ease-in;
}

* {
    font-family: "Poppins";
}

body {
    background-color: var(--onyx);
    margin: 0;
    display: block;
    position: relative;
}

main {
    display: block;
    margin: 20px 20px;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: var (--onyx);
    background: linear-gradient(180deg, var(--onyx) 30%, var(--onyx-a0) 100%);
    align-items: center;

}

#btn-change-mode {
    width: 30px;
    height: 30px;
    background: var(--bone);
    display: inline-block;
    border-radius: 50%;
    border: none;
    transition: scale 0.2s ease-in;
}

#btn-change-mode:hover {
    cursor: pointer;
    scale: 0.8;
}

a {
    text-align: center;
    color: var(--bone);
    width: fit-content;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

section.sectionIntro {
    height: 80vh;
    vertical-align: middle;
    display: table-cell;
    width: 100vw;
}

.text {
    color: var(--bone);
    font-size: 12px;
}

.text_title {
    font-size: 17px;
    letter-spacing: 10px;
    margin: 0px auto 15px;
    font-weight: bold;
    width: fit-content;
}

.text_small {
    color: var(--bone);
    font-size: 9px;
}

.quote {
    color: var(--bone);
    font-style: italic;
    width: 315px;
    font-size: 17px;
    margin: 150px auto;
}

.quote_author {
    font-size: 12px;
    color: var(--gray);
}

.dot {
    position: relative;
}

.dot:hover {
    r: 1.1;
    fill: var(--bone);
    cursor: pointer;
}

.illusionGroup {
    display: block;
}

.illusionGroup_dot {
    pointer-events: none;
}

.pragmapowers {
    list-style: none; 
    display: flex;
    padding: 0;
    margin: 150px 0;
}
 
.pragmapowers img {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    display: block;
    transition: scale 0.1s ease-in;
    opacity: 0.1;
}

.pragmapowers img:hover {
    scale: 1.1;
    cursor: pointer;
    opacity: 1;
} 

.light-mode .pragmapowers {
    mix-blend-mode: difference;
}

footer {
    padding: 20px 0px 0px;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    text-align: right;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.3);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.5);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.4);
}

/* TEXT SELECTION */
::-moz-selection {
    background: var(--purple);
} 
::selection {
    background: var(--purple);
}